<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="manufacturing_passport_menu_qc"
        name="Контроль якості"
        parent="mrp.menu_mrp_root"
        sequence="20"
    />

    <menuitem
        id="manufacturing_passport_menu_production_done"
        name="Виробничі замовлення (готові)"
        parent="manufacturing_passport_menu_qc"
        action="manufacturing_passport_mrp_production_done_action"
        sequence="5"
        groups="manufacturing_passport.group_qc_inspector,manufacturing_passport.group_qc_manager,mrp.group_mrp_manager"
    />

    <menuitem
        id="manufacturing_passport_menu_qc_inspection"
        name="Акти перевірки"
        parent="manufacturing_passport_menu_qc"
        action="manufacturing_passport_qc_inspection_action"
        sequence="10"
        groups="manufacturing_passport.group_qc_inspector,manufacturing_passport.group_qc_manager,mrp.group_mrp_manager"
    />

    <menuitem
        id="manufacturing_passport_menu_product_passport"
        name="Паспорти виробів"
        parent="manufacturing_passport_menu_qc"
        action="manufacturing_passport_product_passport_action"
        sequence="20"
        groups="manufacturing_passport.group_qc_inspector,manufacturing_passport.group_qc_manager,mrp.group_mrp_manager"
    />

    <menuitem
        id="manufacturing_passport_menu_settings"
        name="Налаштування"
        parent="manufacturing_passport_menu_qc"
        sequence="90"
    />

    <menuitem
        id="manufacturing_passport_menu_qc_template"
        name="Шаблони перевірки"
        parent="manufacturing_passport_menu_settings"
        action="manufacturing_passport_qc_template_action"
        sequence="10"
        groups="manufacturing_passport.group_qc_manager,mrp.group_mrp_manager"
    />
</odoo>
